// primary color
$mainColor:#0779e4!default;
$greenColor:#01d28e!default;

// Typography color
$textColor:#656d75!default;
$textColor2:#7c7079!default;
$white:#fff !default;


// Boxs color
$gray-1:#d5d2d2!default;


// text Size

$hSize:20px;
$tSize:16px;


// fonts

$font1:'Tajawal', sans-serif;
$font2:'El Messiri', sans-serif;

// gradient 


//shadow

$shadow: 0 4px 20px #0e0d13;
$shadow1: 0px 14px 30px 9px #f0f0f0;
$shadow3: 1px 2px 18px -4px #2323231c;

// transition

$transition: all 0.3s ease;